html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  padding: 20px;
  background-color: rgb(101, 214, 255);
}

img[src$='svg'] {
  width: 35px;
  height: 35px;
}

.menu {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  visibility: hidden;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 40px;
  width: 300px;
  background-color: white;
}
